* {
  -webkit-font-smoothing:antialiased;
  font-smoothing:antialiased;
  text-rendering:optimizeLegibility;
  @include vendor(box-sizing, border-box);
}

@mixin heading {
  font-variant: small-caps;
  font-weight: normal;
}

html {
  font-size:22px;
  font-family: serif;
}

h1, h2, h3, h4, h5, h6 { 
  font-size: 1em;
  font-weight: normal;
}

body {
  background:#fff;
  color:#222;
  margin-left: auto;
  max-width: 30em;
  margin-right: auto;
  margin-bottom: 5em;
  padding: 0em 1em;
  > header {
      h1 {
        @include heading;
        font-size: 0.8em;
      }
      h2 {
        @include heading;
        font-size: 0.6em;
      }
      text-align: center;
      border-bottom: 1px #CCC solid;
  }
}
a {
  text-decoration: none;
  color: #222;
  &:hover {
      border-bottom: 1px #DDD dashed;
  }
}

section {
    > header {
        text-align: center;
        h1 {
            @include heading;
            font-size: 20px;
        }
        border-bottom: 4px double #EEE;
        width: 30%;
        margin-left: auto;
        margin-right: auto;
    }
    margin: 1em 0em 2.5em;
}

section.blog article header
{
    h1 {
        font-variant: normal;
        margin-bottom: 0.2em;
        display: inline-block;
        font-weight: normal;
        font-size: 20px;
    }
    time {
        padding-left: 1em;
        font-size: 14px;
        font-style: italic;
        text-align: right;
    }
    margin-bottom: 1em;
}

article {
  header {
    text-align: left;
    h1 {
        @include heading;
    }
    h2 {
        font-size: 16px;
    }
  }
  margin-bottom: 2.5em;
}

