<!doctype html>
<html class="no-js">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
{% block title %}
    <title>Dan Craig</title>
{% endblock %}

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link href="//ajax.googleapis.com" rel="dns-prefetch">
    <link href="/assets/css/style.min.css" rel="stylesheet">
{% block feed_link %}
{% endblock %}
    <script src="/assets/js/vendor/modernizr-2.6.2.min.js"></script>

  </head>
  <body>
{% block body %}
{% endblock %}

{% block footer %}
{% endblock %}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="assets/js/vendor/jquery-1.10.2.min.js"><\/script>');</script>
    <script src="/assets/js/scripts.min.js"></script>

  </body>
</html>
