{% extends "base.html" %}

{% block body %}
<header>
<h1>Dan Craig</h1>
</header>

<section>
<p>My name is Dan Craig and I'm an aerospace-turned-software engineer in Lexington, Massachusetts.</p>
</section>

<section>
<header>
<h1><a href="blog">Blog</a></h1>
</header>

<ul>
{% for article in articles %}
  <li><a href="{{ article.url }}">{{ article.title }}</a></li>
{% endfor %}
</ul>
</section>

<section>
<header>
<h1>Projects</h1>
</header>
<h2>XKCD Clock</h2>
<h2><a href="https://github.com/drcraig/concorde">Concorde</a></h2>
<p>Static site generator built around Markdown and Jinja</li></p>
<h2><a href="http://makewayforpiggies.huxleycraig.com">Make Way For Piggies</a></h2>
<p>Collected prose and poetry my wife posted to Facebook while pregnant with our son.</p>
</ul>
</section>
{% endblock %}
