{% extends "base.html" %}

{% block body %}
<header>
<h1>Dan Craig</h1>
</header>

<main>
{% if articles %}
<section id="blog">
<header>
<h1><a href="blog">Blog</a></h1>
</header>

{% for article in articles %}
<article>
  <header>
      <h1><a href="{{ article.url }}">{{ article.title }}</a></h1>
      <time datetime="{{ article.date.strftime("%Y-%m-%d") }}" pubdate>
        {{ article.date.strftime("%B %d, %Y") }}
      </time>
  </header>
</article>
{% endfor %}
</section>
{% endif %}

<section id="projects">
<header>
<h1>Projects</h1>
</header>

<article>
  <header>
    <h1><a href="https://github.com/drcraig/concorde">Concorde</a></h1>
  </header>
  <p>Static site generator built around Markdown and Jinja</p>
</article>

<article>
  <header>
    <h1><a href="http://makewayforpiggies.huxleycraig.com">Make Way For Piggies</a></h1>
  </header>
  <p>Collected prose and poetry my wife posted to Facebook while pregnant with our son.</p>
</article>
</section>

<section id="about">
  <header>
    <h1>About</h1>
  </header>
  <p>My name is Dan Craig and I'm an aerospace-turned-software engineer in Lexington, Massachusetts.</p>
  <ul>
    <li><a href="https://twitter.com/DanielRCraig">@DanielRCraig</a></li>
    <li><a href="https://github.com/drcraig">github.com/drcraig</a></li>
  </ul>
</section>
{% endblock %}
</main>
